include includes/header.jade
div.container
  div.row
    div.span6
      table#hospitals.table.table-bordered.table-hover
        thead: tr
          th name
          th price
          th delete
        tbody
          for hospital in hospitals
            tr
              td=hospital.name
              td=hospital.price
              th: a(href="/hospital/remove/#{hospital._id}") delete
    div.span4.offset8(data-spy="affix")
      form(action="/hospital/new", method="post")
        div.alert.hide
        label name:
        input.span4(name="hospital[name]",required, type="text", placeHolder="name")
        label price:
        input.span4(name="hospital[price]",required, type="number", placeHolder="price")
        button.btn.btn-primary.offset3 add