!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    //if lt IE 10
      script(src='/javascripts/lib/es5-shim.js')
    script(src='/javascripts/lib/jquery-1.8.2.js')
    script(src='/javascripts/lib/bootstrap.js')
    style
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='#') Intern Bill System
    div.container
      div.row
        div.span2.offset4
          form(action="/login",method="post")
            legend login
            label username
            input(name="username",type="text") 
            label password
            input(name="password",type="password")
            button.btn.btn-primary.offset2 login 